/carstation/sensor/target
/carstation/sensor/.idea
/carstation/sensor/*.iml

/carstation/station/target
/carstation/station/.idea
/carstation/station/*.iml

/carstation/thrift/target
/carstation/thrift/.idea
/carstation/thrift/*.iml

/carstation/providerServer/target
/carstation/providerServer/.idea
/carstation/providerServer/*.iml